/*
//fix: this file is a mess, and there is a lot of css on .js files
*/

body {
  margin: 0px;
  background-color: #181818;
  color: white;
}

.main-div {
  padding: 50px 10px 10px;
}



/*#region review */
.review-options-startbutton {
  font-size: 20px;
  padding: 6px;
}

.float-right {
  float:right
}

.review-options-typebuttons-button {
  width: 33%;
  font-size: 16px;
  padding: 0px;
  background: lightgreen;
}

.review-options-typebuttons-button-deselected {
  width: 33%;
  font-size: 16px;
  padding: 0px;
  background: lightcoral;
}

/*#endregion */


