/*
//fix: this file is a mess, and there is a lot of css on .js files
*/

body {
  margin: 0px;
  background-color: #181818;
  color: white;
}

.main-div {
  padding: 10px;
}




/*#region popup */
/*#endregion */


/*#region lyrics */

/*#endregion */


/*#region review */
.review-options-startbutton {
  width: 50%;
  font-size: large;
  padding: 6px;
}

.review-options-typebuttons-button {
  width: 33%;
  font-size: 16px;
  padding: 0px;
  background: lightgreen;
}

.review-options-typebuttons-button-deselected {
  width: 33%;
  font-size: 16px;
  padding: 0px;
  background: lightcoral;
}

/*#endregion */


