/*
//fix i am setting the css as if this was a phone app
//fix this file is a mess, and there is a lot of css on .js files
*/

.songContainer {
  background-color: white;
  margin: 5%;
  padding: 10px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-width: 3px;
}

.songContainer-h1 {
  margin: 0px;
}

.songContainer-link {
  background: rgb(220, 220, 220);
  border-radius: 10px;
  font-size: 24px;
  color: black;
  padding: 8px 12px;
  /*cursor: pointer;*/
  float: right;
  text-decoration: none;
}


.popup {
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  background-color: white;
  min-width: 300px;
  text-align: center;
}

.popup-inner-word {
  position: relative;
  background-color: rgb(220, 220, 220);
  min-width: 300px;
  list-style-type: none;
  padding-left: 10px;
}

.popup-inner-word-ul {
  list-style-type: none;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}



.details-container {
  display: flex;
  width: 100%;
}

.details-column {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
}

.details-column-clickable {
  text-decoration: underline;
}



.navbar {
  background-color: rgb(20, 170, 80);
  display: flex;
  font-size: 25px;
}




body {
  margin: 0px;
  background-color: rgb(250, 250, 250);
}



.lyrics-container {
  font-size: 5vw;
}


.text {
  color: white;
}

.scoreundefined {
  color: red;
}

.score0 {
  color: red;
}

.score1 {
  color: orange;
}

.score2 {
  color: rgb(200, 200, 0);
}

.score3 {
  color: rgb(0, 150, 0);
}




.progress-bar {
  height: 30px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
}