.songContainer {
  background-color: rgb(70, 70, 70);
}



.popup {
  background-color: rgba(50, 50, 50, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  background-color: rgba(70, 70, 70);
  min-width: 400px;
  text-align: center;
}

.popup-inner-word {
  position: relative;
  background-color: rgba(70, 70, 70);
  min-width: 400px;
  list-style-type: none;
  padding-left: 10px;
}

.popup-inner-word-ul {
  list-style-type: none;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}



.details-container {
  display: flex;
  width: 100%;
}

.details-column {
  background-color: rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
}

.details-column-clickable {
  text-decoration: underline;
}



.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  font-size: 25px;
}




body {
  margin: 0px;
  background-color: rgba(100, 100, 100, 1);
  color: white
}

.text {
  color: white;
}

.scoreundefined {
  color: red;
}

.score0 {
  color: red;
}

.score1 {
  color: orange;
}

.score2 {
  color: yellow;
}

.score3 {
  color: lightgreen;
}